/* -----------------------------Main----------------------------------------- */
.urgent-care{
  margin-left: 15%;
  margin-bottom: 30px;
}

.slides-container {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
}

.slides-container > :first-child {
  margin-left: 5rem;
}

.slides-container > :last-child {
  margin-right: 5rem;
}

.slides-container > div {
  margin-bottom: 2rem;
}


.dzIbmb {
  flex-shrink: 0;
  margin-right: 1.66rem;
  position: relative;
  min-height: 5rem;
  font-weight: normal;
  margin-left: 0.75rem;
  width: calc(15% - 1.75rem);
  cursor: pointer;
  color: rgb(17, 117, 167);
}


.dzIbmb .icon-container {
  min-height: 12.5rem;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
}

.dzIbmb .icon{
  justify-self: center;
}

.dzIbmb .icon {
  max-width: 3rem;
  height: auto;
  transform: translateX(170%);
  margin-top: 25%
}

.dzIbmb .card-text-desktop {
  /* position: absolute; */
  text-align: center;
  display: block;
  left: 0px;
  top: auto;
  width: 100%;
  font-weight: 600;
  padding: 0px 0.25rem;
  font-size: 1.125rem;
  margin-bottom: 10%;
}

/* ----------------------Search---------------------------------- */
.search-wrapper{
  background-color: #000625;
  color: #fff;
  padding: 62px 20px;
}

.search-wrapper > .headings{
  text-align: center;
  display: block;
}

.search-wrapper .search-form{
  background: transparent;
  display: flex;
}

.search-wrapper .search-form .search-on-desktop {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-content{
  width: 40%;
  position: relative;
}

.form-content span{
  position: absolute;
  top: 35%;
  left: 2%;
}

.form-content input{
  height: 70px;
  padding: 0 0 0 48px;
  font-size: 18px;
  width: 100%;
}

.form-content.location-input button{
  position: absolute;
  top: 10%;
  right: 2%;
  width: 144px;
  height: calc(80% - 1px);
  background-color: rgb(17, 117, 167);;
  color: #fff;
  border: none;
}

.form-content.location-input button span{
  margin-left: 3.125rem;
  font-weight: 700;
  font-size: 16px;
}

.form-content.location-input button .icon-search{
  margin-right: 60%;
  font-size: 20px;
}

.search-info.on-homepage{
  text-align: center;
}

/* -------------------------End Search----------------------------------------------------- */

/* -------------------------Topspec Module----------------------------------------------------- */

.topspec-module{
  padding: 4rem 3rem;
}

.topspec-module .main-content{
  width: 100%;
}

.topspec-module .main-content h3{
  font-size: 42px;
  color: #05284a;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.topspec-module .main-content .spec-details{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.topspec-module .main-content .spec-details img{
  height: 88px;
  width: 88px;
}

.topspec-module .main-content .spec-details .spec-name{
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
  cursor: pointer;
  color: #05284a;
}

/* -------------------------End Topspec Module----------------------------------------------------- */

